* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

footer {
  position: fixed;
  bottom: 0;
  right: 10px;
}

footer a {
  color: lightgrey;
}

.login-box {
  display: none;
}

.login-box.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.modal {
  background-color: lightslategray;
  margin: 15% auto;
  width: 450px;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
}

.user-login-container {
  display: flex;
  justify-content: space-between;
}

.login-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: black;
}

.login-link,
.logout-link {
  color: white;
  cursor: pointer;
}

.logout-link {
  display: none;
  z-index: -100;
}

.logout-link.show {
  display: flex;
  z-index: 1;
}

.login-link.hide {
  display: none;
  z-index: -100;
}

.login-link:hover,
.logout-link:hover {
  color: darkorange;
}

.user-name.show {
  color: greenyellow;
}

.shopping-app {
  width: 100%;
  max-width: 600px;
  background: linear-gradient(135deg, #5b548a, #301934);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.shopping-app h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.list-container {
  margin-top: 6px;
  padding-right: 5px;
}

.shopping-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: lightgray;
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  flex: 1;
  justify-content: center;
  border: none;
  outline: none;
  padding: 10px;
  background: rgb(0, 119, 255);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  position: relative;
  font-size: 16px;
  padding: 12px 8px;
  user-select: none;
  cursor: pointer;
  color: white;
  display: grid;
  grid-template-columns: auto 3fr 2fr 1fr;
  align-items: center;
  justify-items: start;
  white-space: nowrap;
  gap: 10px;
}

ul li::before {
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(icons/unchecked.png);
  background-size: cover;
  background-position: center;
  align-self: center;
}

ul li.checked::before {
  background-image: url(icons/checked.png);
}

ul li.checked {
  grid-template-columns: auto 3fr 2fr 1fr auto;
}

ul li.checked .item,
ul li.checked .quantity,
ul li.checked .user {
  text-decoration: line-through;
  color: #726f6f;
}

ul li.checked .quantity {
  padding-left: 16px;
}

ul li.checked .user {
  padding-left: 20px;
}

.quantity,
.user {
  white-space: nowrap;
}

.close {
  font-size: 20px;
  justify-self: end;
  cursor: pointer;
  transform: scale(1.5);
  display: none;
  z-index: -100;
}

.checked .close:hover {
  color: darkred;
}

li.checked .close {
  display: inline-flex;
  color: white;
  z-index: 1;
}

.empty-list {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  margin-top: 20px;
}